# {{ ansible_managed }}

<VirtualHost *:{{ adjutant_service_port }}>
    RewriteEngine On
    RewriteCond "%{HTTP_HOST}" "!(.*){{ ansible_hostname }}(.*)" [NC]
    RewriteRule "^/?(.*)"      "{{ adjutant_service_internaluri_proto }}://{{ ansible_hostname }}:{{ adjutant_service_port }}/$1" [L,R,NE]

    WSGIDaemonProcess     adjutant lang='en_US.UTF-8' locale='en_US.UTF-8' user={{ adjutant_system_user_name }} group={{ adjutant_system_group_name }} processes={{ adjutant_wsgi_processes }} threads={{ adjutant_wsgi_threads }} display-name=%{GROUP}
    WSGIProcessGroup      adjutant
    WSGIScriptAlias       / /var/www/cgi-bin/adjutant/adjutant-api
    WSGIApplicationGroup  %{GLOBAL}

    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>

    LogLevel  {{ adjutant_apache_log_level }}
    ErrorLog  /var/log/adjutant/adjutant-apache-error.log
    CustomLog /var/log/adjutant/adjutant-access.log combined

{% if adjutant_ssl | bool and adjutant_service_internaluri_proto == "https" -%}
    SSLEngine on
    SSLCertificateFile    {{ adjutant_ssl_cert }}
    SSLCertificateKeyFile {{ adjutant_ssl_key }}
    {% if adjutant_user_ssl_ca_cert is defined -%}
    SSLCACertificateFile  {{ adjutant_ssl_ca_cert }}
    {% endif -%}
    SSLCompression Off
    SSLProtocol {{ adjutant_ssl_protocol }}
    SSLHonorCipherOrder On
    SSLCipherSuite {{ adjutant_ssl_cipher_suite }}
    SSLOptions +StdEnvVars +ExportCertData
{% endif %}
</VirtualHost>

<Directory "/var/www/cgi-bin">
        AllowOverride None
        Options +ExecCGI -Includes
        <IfModule !mod_access_compat.c>
                Require all granted
        </IfModule>
        <IfModule mod_access_compat.c>
                Order allow,deny
                Allow from all
        </IfModule>
</Directory>
