django:
  secret_key: '{{ adjutant_secret_key }}'
  debug: False
  allowed_hosts:
    - '*'
  secure_proxy_ssl_header: HTTP_X_FORWARDED_PROTO
  secure_proxy_ssl_header_value: https
  databases:
    default:
      ENGINE: django.db.backends.mysql
      HOST: '{{ adjutant_galera_address }}'
      NAME: '{{ adjutant_galera_database }}'
      PASSWORD: '{{ adjutant_galera_password }}'
      USER: '{{ adjutant_galera_user }}'
      PORT: '{{ adjutant_galera_port }}'
  logging:
    version: 1
    disable_existing_loggers: False
    handlers:
      syslog:
        class: logging.handlers.SysLogHandler
        address: /dev/log
    loggers:
      adjutant:
        handlers:
          - syslog
        propagate: False
      django:
        handlers:
          - syslog
        propagate: False
      keystonemiddleware:
        handlers:
          - syslog
        propagate: False

identity:
  auth:
    username: {{ adjutant_service_user_name }}
    password: {{ adjutant_service_password }}
    project_name: service
    project_domain_id: default
    user_domain_id: {{ adjutant_user_domain_id }}
    auth_url: {{ keystone_service_adminurl }}